.icon-sprite, .icon-end-17, .icon-end-25, .icon-end-33, .icon-end-41, .icon-end-49, .icon-end-message-catch-17, .icon-end-message-catch-25, .icon-end-message-catch-33, .icon-end-message-catch-41, .icon-end-message-catch-49, .icon-end-terminate-17, .icon-end-terminate-25, .icon-end-terminate-33, .icon-end-terminate-41, .icon-end-terminate-49, .icon-gateway-17, .icon-gateway-25, .icon-gateway-33, .icon-gateway-41, .icon-gateway-49, .icon-gateway-complex-17, .icon-gateway-complex-25, .icon-gateway-complex-33, .icon-gateway-complex-41, .icon-gateway-complex-49, .icon-gateway-inclusive-17, .icon-gateway-inclusive-25, .icon-gateway-inclusive-33, .icon-gateway-inclusive-41, .icon-gateway-inclusive-49, .icon-gateway-parallel-17, .icon-gateway-parallel-25, .icon-gateway-parallel-33, .icon-gateway-parallel-41, .icon-gateway-parallel-49, .icon-gateway-xor-17, .icon-gateway-xor-25, .icon-gateway-xor-33, .icon-gateway-xor-41, .icon-gateway-xor-49, .icon-intermediate-message-catch-17, .icon-intermediate-message-catch-25, .icon-intermediate-message-catch-33, .icon-intermediate-message-catch-41, .icon-intermediate-message-catch-49, .icon-intermediate-message-throw-17, .icon-intermediate-message-throw-25, .icon-intermediate-message-throw-33, .icon-intermediate-message-throw-41, .icon-intermediate-message-throw-49, .icon-intermediate-timer-17, .icon-intermediate-timer-25, .icon-intermediate-timer-33, .icon-intermediate-timer-41, .icon-intermediate-timer-49, .icon-start-17, .icon-start-25, .icon-start-33, .icon-start-41, .icon-start-49, .icon-start-message-17, .icon-start-message-25, .icon-start-message-33, .icon-start-message-41, .icon-start-message-49, .icon-start-timer-17, .icon-start-timer-25, .icon-start-timer-33, .icon-start-timer-41, .icon-start-timer-49 {
  background: url('/img/icon-s34e771e19b.png') no-repeat;
}

.icon-end-17 {
  background-position: 0 -2251px;
}

.icon-end-25 {
  background-position: 0 -2042px;
}

.icon-end-33 {
  background-position: 0 -1794px;
}

.icon-end-41 {
  background-position: 0 -1381px;
}

.icon-end-49 {
  background-position: 0 -1126px;
}

.icon-end-message-catch-17 {
  background-position: 0 -1619px;
}

.icon-end-message-catch-25 {
  background-position: 0 -1051px;
}

.icon-end-message-catch-33 {
  background-position: 0 -869px;
}

.icon-end-message-catch-41 {
  background-position: 0 -614px;
}

.icon-end-message-catch-49 {
  background-position: 0 -368px;
}

.icon-end-terminate-17 {
  background-position: 0 -1512px;
}

.icon-end-terminate-25 {
  background-position: 0 -960px;
}

.icon-end-terminate-33 {
  background-position: 0 -696px;
}

.icon-end-terminate-41 {
  background-position: 0 -327px;
}

.icon-end-terminate-49 {
  background-position: 0 -98px;
}

.icon-gateway-17 {
  background-position: 0 -2293px;
}

.icon-gateway-25 {
  background-position: 0 -2268px;
}

.icon-gateway-33 {
  background-position: 0 -2150px;
}

.icon-gateway-41 {
  background-position: 0 -2109px;
}

.icon-gateway-49 {
  background-position: 0 -1993px;
}

.icon-gateway-complex-17 {
  background-position: 0 -2200px;
}

.icon-gateway-complex-25 {
  background-position: 0 -1943px;
}

.icon-gateway-complex-33 {
  background-position: 0 -1695px;
}

.icon-gateway-complex-41 {
  background-position: 0 -1422px;
}

.icon-gateway-complex-49 {
  background-position: 0 -1274px;
}

.icon-gateway-inclusive-17 {
  background-position: 0 -2067px;
}

.icon-gateway-inclusive-25 {
  background-position: 0 -1636px;
}

.icon-gateway-inclusive-33 {
  background-position: 0 -1224px;
}

.icon-gateway-inclusive-41 {
  background-position: 0 -985px;
}

.icon-gateway-inclusive-49 {
  background-position: 0 -762px;
}

.icon-gateway-parallel-17 {
  background-position: 0 -2183px;
}

.icon-gateway-parallel-25 {
  background-position: 0 -2084px;
}

.icon-gateway-parallel-33 {
  background-position: 0 -1910px;
}

.icon-gateway-parallel-41 {
  background-position: 0 -1844px;
}

.icon-gateway-parallel-49 {
  background-position: 0 -1570px;
}

.icon-gateway-xor-17 {
  background-position: 0 -2217px;
}

.icon-gateway-xor-25 {
  background-position: 0 -1885px;
}

.icon-gateway-xor-33 {
  background-position: 0 -1728px;
}

.icon-gateway-xor-41 {
  background-position: 0 -1529px;
}

.icon-gateway-xor-49 {
  background-position: 0 -1463px;
}

.icon-intermediate-message-catch-17 {
  background-position: 0 -1827px;
}

.icon-intermediate-message-catch-25 {
  background-position: 0 -1101px;
}

.icon-intermediate-message-catch-33 {
  background-position: 0 -811px;
}

.icon-intermediate-message-catch-41 {
  background-position: 0 -540px;
}

.icon-intermediate-message-catch-49 {
  background-position: 0 -237px;
}

.icon-intermediate-message-throw-17 {
  background-position: 0 -1678px;
}

.icon-intermediate-message-throw-25 {
  background-position: 0 -1076px;
}

.icon-intermediate-message-throw-33 {
  background-position: 0 -902px;
}

.icon-intermediate-message-throw-41 {
  background-position: 0 -655px;
}

.icon-intermediate-message-throw-49 {
  background-position: 0 -450px;
}

.icon-intermediate-timer-17 {
  background-position: 0 -1323px;
}

.icon-intermediate-timer-25 {
  background-position: 0 -935px;
}

.icon-intermediate-timer-33 {
  background-position: 0 -581px;
}

.icon-intermediate-timer-41 {
  background-position: 0 -286px;
}

.icon-intermediate-timer-49 {
  background-position: 0 -49px;
}

.icon-start-17 {
  background-position: 0 -2234px;
}

.icon-start-25 {
  background-position: 0 -1968px;
}

.icon-start-33 {
  background-position: 0 -1761px;
}

.icon-start-41 {
  background-position: 0 -1340px;
}

.icon-start-49 {
  background-position: 0 -1175px;
}

.icon-start-message-17 {
  background-position: 0 -1661px;
}

.icon-start-message-25 {
  background-position: 0 -1026px;
}

.icon-start-message-33 {
  background-position: 0 -729px;
}

.icon-start-message-41 {
  background-position: 0 -499px;
}

.icon-start-message-49 {
  background-position: 0 -188px;
}

.icon-start-timer-17 {
  background-position: 0 -1257px;
}

.icon-start-timer-25 {
  background-position: 0 -844px;
}

.icon-start-timer-33 {
  background-position: 0 -417px;
}

.icon-start-timer-41 {
  background-position: 0 -147px;
}

.icon-start-timer-49 {
  background-position: 0 0;
}
